/* 1) Examine the image in the instructions to figure out which containers should get which horizontal and vertical alignment properties. */

/* 2) Add the correct properties and values to each container's ruleset in the CSS file */

.container-1 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #b691d6;

  /* Create a flex layout context */
  display: flex;

  /* Define the flow direction 
  and if the items should wrap */
  flex-direction: column;
  flex-wrap: wrap; 

  /* ADD CODE BELOW to define how items should be distributed horizontally across the container */


  /* ADD CODE BELOW to define how items should be distributed vertically within the container */
 


}

.container-2 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #91d6ce;

  /* Create a flex layout context */
  display: flex;

  /* Define the flow direction 
  and if the items should wrap */
  flex-direction: row;
  flex-wrap: nowrap; 

  /* ADD CODE BELOW to define how items should be distributed horizontally across the container */


  /* ADD CODE BELOW to define how items should be distributed vertically within the container */


}

.container-3 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #d691c4;

  /* Create a flex layout context */
  display: flex;

  /* Define the flow direction 
  and if the items should wrap */
  flex-direction: row-reverse;
  flex-wrap: wrap; 

  /* ADD CODE BELOW to define how items should be distributed horizontally across the container */
 

  /* ADD CODE BELOW to define how items should be distributed vertically within the container */


}

.container-4 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #9cd691;

  /* Create a flex layout context */
  display: flex;

  /* Define the flow direction 
  and if the items should wrap */
  flex-direction: column-reverse;
  flex-wrap: wrap;

  /* ADD CODE BELOW to define how items should be distributed horizontally across the container */


  /* ADD CODE BELOW to define how items should be distributed vertically within the container */


}

.container-5 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #f6f48c;

  /* Create a flex layout context */
  display: flex;

  /* Define the flow direction 
  and if the items should wrap */
  flex-direction: row;
  flex-wrap: nowrap; 

  /* ADD CODE BELOW to define how items should be distributed horizontally across the container */
  

  /* ADD CODE BELOW to define how items should be distributed vertically within the container */


}

.container-6 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #f68c8c;

  /* Create a flex layout context */
  display: flex;

  /* Define the flow direction 
  and if the items should wrap */
  flex-direction: column;
  flex-wrap: wrap;

  /* ADD CODE BELOW to define how items should be distributed horizontally across the container */


  /* ADD CODE BELOW to define how items should be distributed vertically within the container */


}


img{
  width: 75px;
  border-style: solid;
}

div {
  height: 225px;
}