body{
  text-align: center;
  background-color: gray;
}
img {
  width: 500px;
  border-color:black;
  border-style: ridge;
  border-width: 5px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h5 {
  font-size: 15px;
} 

.winter {
  color: lightskyblue;
  border-color: lightskyblue;
} 

.spring {
  color: lightgreen;
  border-color: lightgreen;
}

.autunm {
  color: firebrick;
  border-color: firebrick;
}

.summer {
  color: gold;
  border-color: gold;
}

