/* 1) Add a rule to style the "link" state of the <a> element. */




/* 2) Add a rule to style the "visited" state of the <a> element. */



/* paragraph style */
p {
  font-family: sans-serif;
  font-size: 24px;
  background-color: yellow;
}