/* 1) Set the child elements of "flex1" to not grow when there is free space, to shrink when there is not enough space, and their size to be based on their content */ 
.flex1 > p {

}


/* 2) Set the child elements of "flex2" to grow to absorb any extra space, to shrink when there is not enough space, and their size to be based on their content */
.flex2 > p {

}

/* 3) Set the child elements of "flex3" to not grow when there is free space, to not shrink when there is not enough space, and their size to be based on their content  */
.flex3 > p {

}


/* styled parent containers */
.flex1, .flex2, .flex3 {
  background: #b691d6;
  display: flex;
  padding: 5px;
  margin: 10px;
}

/* styled paragraphs */
p {
  background-color: aliceblue;
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  border-style: solid;
  font-family: sans-serif; 

}