body {
  font-family: monospace;
}

h1 {
  text-align: center;
}

.bdance {
  font-family: fantasy;
  background-color: #b7fffd;
  border-style: ridge;
  border-color: #b7fffd;
  color: #133a39;
  padding: 5px;
  letter-spacing: 2px;
}

.bdanceP {
  width:200px;
  border-style:solid;
  border-color:#b7fffd;
  border-radius: 10px;
}

.bdanceL {
  font-family: fantasy;
  background-color: #b7fffd;
  border-style: ridge;
  border-color: #b7fffd;
  color: #133a39;  
  width: 300px;
}

.flam {
  font-family:cursive;
  background-color: #ffb7f5;
  border-style:inset;
  border-color: #d105b5;
  color: #810c71;
  padding: 5px;
}

.flamP {
  width:500px;
  border-style:solid;
  border-color:#810c71;
  border-radius: 10px;
}

.flamL {
  font-family: cursive;
  background-color: #ffb7f5;
  border-style: inset;
  border-color: #d105b5;
  color: #133a39;  
  width: 300px;
}


.sambaP {
  height: 200px;
  border-style:solid;
  border-color:#1e14dc;
  border-radius: 20px;
}

.samba {
  font-family: sans-serif;
  background-color: #f0f8ff;
  color:#1e14dc;
  border-style:dotted;
  padding: 5px;
}

.sambaL {
  font-family: sans-serif;
  background-color: #f0f8ff;
  color:#1e14dc;
  border-style:dotted;
  width: 300px;
}