/* 1) Give each container the flex-flow property and appropriate values according to the image. */

/* 2) Define the horizontal alignment for each container to match the image in the instructions. */

/* 3) Define the vertical alignment for each container to match the image in the instructions. */

.container-1 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #b691d6;

  /* Create a flex layout context */
  display: flex;

  /* ADD CODE BELOW to define the flow direction and if the items should wrap */
  flex-flow: column wrap;

  /* ADD CODE BELOW to define how items should be distributed horizontally across the container */
  align-content: center;

  /* ADD CODE BELOW to define how items should be distributed vertically within the container */
  justify-content: space-around;



}

.container-2 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #91d6ce;

  /* Create a flex layout context */
  display: flex;

  /* ADD CODE BELOW to define the flow direction 
  and if the items should wrap */
 

  /* ADD CODE BELOW to define how items should be distributed horizontally across the container */


  /* ADD CODE BELOW to define how items should be distributed vertically within the container */


}

.container-3 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #d691c4;

  /* Create a flex layout context */
  display: flex;

  /* ADD CODE BELOW to define the flow direction 
  and if the items should wrap */


  /* ADD CODE BELOW to define how items should be distributed horizontally across the container */


  /* ADD CODE BELOW to define how items should be distributed vertically within the container */


}

.container-4 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #9cd691;

  /* Create a flex layout context */
  display: flex;

  /* ADD CODE BELOW to define the flow direction 
  and if the items should wrap */


  /* ADD CODE BELOW to define how items should be distributed horizontally across the container */


  /* ADD CODE BELOW to define how items should be distributed vertically within the container */


}

.container-5 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #f6f48c;

  /* Create a flex layout context */
  display: flex;

  /* ADD CODE BELOW to define the flow direction 
  and if the items should wrap */
 

  /* ADD CODE BELOW to define how items should be distributed horizontally across the container */


  /* ADD CODE BELOW to define how items should be distributed vertically within the container */


}

.container-6 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #f68c8c;

  /* Create a flex layout context */
  display: flex;

  /* ADD CODE BELOW to define the flow direction 
  and if the items should wrap */


  /* ADD CODE BELOW to define how items should be distributed horizontally across the container */


  /* ADD CODE BELOW to define how items should be distributed vertically within the container */


}


img{
  width: 75px;
  border-style: solid;
}

div {
  height: 225px;
}