/* 1) Adjust the order of the items to match the example. */

/* 2) Identify any items that are aligned differently from others within the container and apply align-self to achieve the same effect. */

/* 3) Determine which items need to be larger than others and appy flex-grow to thesee items, consider their proportion in the example image. */

/* planet layout */
.earth {

}

.jupiter {

}

.mars {

}

.mercury {

}

.neptune {

}

.saturn {

}

.uranus {

}

.venus {

}


/* top informational paragraph layouts */
.info-p1 {

  
}

.info-p2 {

}


/* final information paragraph layout */
.newHorizons {

}




/* DO NOT CHANGE CODE BELOW **/

/* body style */
body {
  font-family: Arial;
  background-color: #000000;
}

/* basic style for text on page */
.title, .footer, p {
  text-align: center;
  padding: 5px;
  color: aliceblue;
}

/* flex layout for image container */
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

/* flex layout for final information paragraphs */
.final-info {
  display: flex;
}

.final-info > p {
  margin: 5px;
  width: 20%;
}

/* images style */
.img {
  width: 100%;
  height: auto;
}

/* flex layout for first information paragraphs */
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* style for informational image */
.info-img{
  width: 75%;
}