body {
 background: lightpink;
 color: lightcyan;
 font-family: monospace;
}

h6 {
  text-align: right;
}

img {
  border-radius: 20px;
  width: 200px;
}

p {
    text-align: left;
    font-size: 17px;
}

