/* 2) Give each novel heading and paragraph a different style including: color, font, border style, border color, and background color */

body {
  background: rgba(234, 242, 255, 0.18);
}
p {
  font-family: monospace;
}
h1 {
  text-align: center;
  border-style: solid;
  border-color:cornflowerblue; 
  background-color:azure
}

.hunger-games {
  border-style:ridge;
  border-color:crimson;
  background-color:rgba(220, 20, 60, 0.13);
  color:#0b0000;
  font-family: fantasy;
  letter-spacing: 3px;
  padding: 5px;
}