/* 1) Add the align-items property with the correct value to horizontally align the images in each container to look like the picture in the instructions */

/* 2) Add the justify-content property with the correct value to vertically align the images in each container to look like the picture in the instructions */
.container-1 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #b691d6;
  
  /* Establish a flex layout context */
  display: flex;

  /* Define the flow direction 
  and if the items should wrap */
  flex-direction: column;
  flex-wrap: nowrap;
  
  /* Define how items should be distributed horizontally across the container */

  
  /* Define how items should be distributed vertically within the container */

  


}

.container-2 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #91d6ce;

  /* Establish a flex layout context */
  display: flex;

  /* Define the flow direction 
  and if the items should wrap */
  flex-direction: column;
  flex-wrap: nowrap;

  /* Define how items should be distributed horizontally across the container */


  /* Define how items should be distributed vertically within the container */


}

.container-3 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #d691c4;

  /* Establish a flex layout context */
  display: flex;

  /* Define the flow direction 
  and if the items should wrap */
  flex-direction: column;
  flex-wrap: nowrap;

  /* Define how items should be distributed horizontally across the container */


  /* Define how items should be distributed vertically within the container */


}

.container-4 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #9cd691;

  /* Establish a flex layout context */
  display: flex;

  /* Define the flow direction 
  and if the items should wrap */
  flex-direction: column;
  flex-wrap: nowrap;

  /* Define how items should be distributed horizontally across the container */


  /* Define how items should be distributed vertically within the container */


}

.container-5 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #f6f48c;

  /* Establish a flex layout context */
  display: flex;

  /* Define the flow direction 
  and if the items should wrap */
  flex-direction: column;
  flex-wrap: nowrap;

  /* Define how items should be distributed horizontally across the container */
 

  /* Define how items should be distributed vertically within the container */


}

.container-6 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #f68c8c;

  /* Establish a flex layout context */
  display: flex;

  /* Define the flow direction 
  and if the items should wrap */
  flex-direction: column;
  flex-wrap: nowrap;

  /* Define how items should be distributed horizontally across the container */


  /* Define how items should be distributed vertically within the container */



}


img{
  height: 75px;
  border-style: solid;
}

/* containers were given extra height so you can see all of the spacing affects */
div {
  height: 250px;
}