/* 1) Assign the gap property to each container in the CSS to match the spacing of the items in the image in the instructions. */

/* Give the 1st container the grid-gap property and define both the row and column spacing to be 50px. */
.container-1 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #b691d6;

  /* Create a flex layout context */
  display: flex;

  /* Define the flow direction 
  and if the items should wrap */
  flex-flow: column wrap;

  /* Define how items should be distributed horizontally across the container */
  align-content: center;

  /* Define how items should be distributed vertically within the container */
  justify-content: center;

  /* ADD CODE BELOW to define the gap spacing to be 50px for both row and column */




}

/* Give the 2nd container the grid-gap property and define the spacing to be 10px between the rows and 50px between the columns. */
.container-2 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #91d6ce;

  /* Create a flex layout context */
  display: flex;

  /* Define the flow direction 
  and if the items should wrap */
  flex-flow: column wrap;

  /* Define how items should be distributed horizontally across the container */
  align-content: center;

  /* Define how items should be distributed vertically within the container */
  justify-content: center;

  /* ADD CODE BELOW to define the gap spacing to be 10px between rows and 50px between columns */



}

/* Give the 3rd container the grid-gap property and define the spacing to be 50px between the rows and 10px between the columns. */
.container-3 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #d691c4;

  /* Create a flex layout context */
  display: flex;

  /* Define the flow direction 
  and if the items should wrap */
  flex-flow: column wrap;

  /* Define how items should be distributed horizontally across the container */
  align-content: center;

  /* Define how items should be distributed vertically within the container */
  justify-content: center;

  /* ADD CODE BELOW to define the gap spacing to be 50px between rows and 10px between columns*/



}

/* Give the 4th container the grid-row-gap property and define the spacing between the rows to be 60px. */
.container-4 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #9cd691;

  /* Create a flex layout context */
  display: flex;

  /* Define the flow direction 
  and if the items should wrap */
  flex-flow: column wrap;

  /* Define how items should be distributed horizontally across the container */
  align-content: center;

  /* Define how items should be distributed vertically within the container */
  justify-content: center;

  /* ADD CODE BELOW to define the gap spacing between rows to be 60px */



}

/* Give the 5th container the column-gap property and define the spacing between the columns to be 60px. */
.container-5 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #f6f48c;

  /* Create a flex layout context */
  display: flex;

  /* Define the flow direction 
  and if the items should wrap */
  flex-flow: column wrap;

  /* Define how items should be distributed horizontally across the container */
  align-content: center;

  /* Define how items should be distributed vertically within the container */
  justify-content: center;

  /* ADD CODE BELOW to define the gap spacing between columns to be 60px */



}

/* Give the 6th container the grid-gap property and define the spacing between rows to be 25px and spacing between columns to be 70px */
.container-6 {
  /* The div container has a background color so you can see how the items are positioned within it */
  background: #f68c8c;

  /* Create a flex layout context */
  display: flex;

  /* Define the flow direction 
  and if the items should wrap */
  flex-flow: column wrap;

  /* Define how items should be distributed horizontally across the container */
  align-content: center;

  /* Define how items should be distributed vertically within the container */
  justify-content: center;

  /* ADD CODE BELOW to define the gap spacing to be 25px between the rows and 70px between the columns */



}


img{
  width: 75px;
  border-style: solid;
}

div {
  height: 225px;
}