.container {
  /* We gave the parent div container a background color so you can see how the items are positioned within it */
  background: #b691d6;
  display: flex;
  padding: 5px;
  height: 300px;
  align-items: flex-start;
}

/* styled child divs in parent continer */
.container > div {
  background-color: aliceblue;
  margin: 5px;
  width: 10%; /* CHANGE ME TO 30% TO SEE THE 5TH ITEM SHRINK */
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  border-style: solid;
  font-family: sans-serif;
}

/* CHECK ME OUT! individually styled children with flex children properties */
.grow {
  flex-grow: 2;
}

.align {
  align-self: flex-end;
}

.order1 {
  order: -1;
}

.order5 {
  order: 1;
} 

.shrink {
  flex-shrink: 8; /*CHANGE THE WIDTH ABOVE TO 30% TO SEE THIS ITEM SHRINK */
}