/* 1) Add the flex-basis property to the first container and set value to auto */ 
.basis-auto > p {
flex-basis: auto;
}


/* 2) Add the flex-basis property to the second container and set value to 150px */
.basis-fixed > p {
  flex-basis: 150px;
}


/* styled parent containers */
.basis-auto, .basis-fixed {x
  background: #b691d6;
  display: flex;
  padding: 5px;
  margin: 10px;
}

/* styled paragraphs */
p {
  background-color: aliceblue;
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  border-style: solid;
  font-family: sans-serif; 

}