body {
  background: darkred;
  color: floralwhite;
  font-family: 'Beth Ellen', cursive;
}
p {

  margin: 10px;
  font-size: 14px;
  text-align: left;
}
h1 {
  font-weight: bold;
  text-align: center
}
h2 {
  text-align: center
}

h3 { 

}
h4 {
}
h5 {
  text-align: right;
}
h6 {
  font-style: italic;
  text-align: center;
}

hr {
  width: 100%;
}
img {
  float: right;
  width: 220px;
  border-radius: 20px;
  margin: 10px;
}

#notes {
  float: right;
  width: 100px;
  background-color: white;
  box-shadow: 6px 6px gray;
}

#notes2 {
  float: left;
  width: 100px;
  background-color: white;
  box-shadow: -6px 6px gray;
}