body {
  background: peachpuff;
  text-align: center;
}
p {
  color: black;
}
h1 {
  font-weight: bold;
  text-align: center;
}

img {
  margin: 15px;
  width:450px;
}

a {
  font-weight: bold;
  text-decoration: none;
}
  