/* 1) Find the rule-set that gives the h1 tag its style. Change ONLY the first 0 to 255 */
/* 2) Find the rule-set that gives the p tag its style. Change ONLY the second 0 to 255 */
/* 3) Find the rule-set that gives the h3 tag its style. Change ONLY the third 0 to 255 */

body {
  background: white;
}

h1{
  color: rgb( 0 , 0, 0);
}
  h3 {
  color: rgb( 0 , 0 , 0);
}
  p {
  color: rgb( 0 , 0, 0);
  }